body, * {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.main {
  display: grid;
}

.btn {
  background: #0073ff;
  outline: none;
  cursor: pointer;
  border: 7px solid #0073ff;
  border-radius: .25em;
  padding: 1em 5em;
  margin-bottom: 5em;
}

@media only screen and (min-width: 1024px) {
  .btn {
    background: none;
    outline: none;
    cursor: pointer;
    border: 7px solid #0073ff;
    border-radius: .25em;
    padding: 1em 5em;
    margin-bottom: 5em;
  }

  .btn:hover {
    background: #0073ff;
    transform: scale(1.25);
    transition: all ease-in-out .3s;
    color: white;
    font-size: .9em;
  }
}


/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  background-color: #0073ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23878787' fill-opacity='0.9' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  background-position: center;
  color: white;
  height: 5em;
  box-shadow: 0px 2px 10px 1px rgba(143,143,143,0.6);
  position: sticky;
  top: 0;
}

.nav {
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.main-head {
  font-size: 2em;
  font-weight: lighter;
  letter-spacing: 0.1em;
}

.nav-link {
  list-style: none;
  text-decoration: none;
  color: white;
}


/* Blog */

.grid-blog {
  padding-top: 7em;
  display: grid;
  grid-template-columns:
                        minmax(1.5em, 1fr)
                        minmax(auto, 57ch)
                        minmax(1.5em, 1fr);
}

.blog-content {
  grid-column: 2;
}

.blog-title {
  font-weight: 700;
  font-size: 2.5em;
  padding-top: 1.5em;
}

.blog-text {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.95em;
  font-size: 1.25em;
  margin: 2.5em 0;
}

.pic {
  grid-column: 2;
  width: 100%;
  height: auto;
}

.title {
  font-size: 1.75em;
  font-weight: bolder;
}

li {
  font-size: 1.2em;
  line-height: 1.5em;
}

/* Footer */

.footer {
  background-color: #0073ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23878787' fill-opacity='0.9' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  background-position: center;
}

.footer-credit-mobile {
  color: white;
  font-size: .75em;
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;
  margin-top: .5em;
}


/* Social Media */


.social-nav {
  color: #dddddd;
  display: flex;
  justify-content: space-around;
  padding: 0;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.icon-list {
  list-style: none;
}

.fab {
  text-decoration: none;
  color: white;
}

.social {
  display: none;
}
