body {
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1504664911901-2518a8bfc164?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5c0c7240277c0c9d6b849481095b5b31&auto=format&fit=crop&w=2908&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  font-family: 'Poiret One', cursive;
  color: white;
}

/* Nav Bar */

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 1em;
}


h1 {
  display: flex;
  justify-content:flex-start;
  padding-left: 1.5em;
}

.nav-header {
  list-style: none;
  display: flex;
  justify-content: space-around;
}


/* Logo */

.banner {
  text-align: center;
  margin: 0 auto;
  padding: 8em 0 18em 0;
}

h2 {
  font-size: 4em;
  letter-spacing: -.05em;
}

p {
  font-size: 2em;
}

i.fas {
  font-size: 1.5em;
  color: white;
}

/* Buttons */

.btn {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-header {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  border-radius: 13px;
  text-align: center;
  padding: .75em 2em;
  margin: 0 4em;
}

.white {
  background-color: white;
  color: black;
}

.clear {
  border: 2px solid grey;
  background-color: rgba(0, 0, 0, 0)
}

.button:hover {
  border-radius: 0;
  transform: scale(1.25);
  transition: all .5s;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
}

.fa-facebook-f:hover {
  color: #3B5998;
  cursor: pointer;
}

.fa-twitter:hover {
  color: #1dcaff;
  cursor: pointer;
}

.fa-instagram:hover {
  color: #e56969;
  cursor: pointer;
}

.fa-dribbble:hover {
  color: #fb02b2;
  cursor: pointer;
}

.fa-linkedin-in:hover {
  color: #0077B5;
  cursor: pointer;
}



/* Media Queries */

@media only screen (min-width: 425px) {
  header {
    display: flex;

  }
}
