html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  scroll-behavior: smooth;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23595f6d' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

:root {
  --main-bg-color: #595F6D;
  --font-color: #71ACB4;
  --main-font: 'Montserrat', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --extra-font: 'Nunito', sans-serif;
}

.main {
  display: grid;
}

hr {
  position: relative;
  outline: 0;
  border: 0;
  width: 85%;
  height: 4px;
  background: rgb(89,95,109);
  background: radial-gradient(circle, rgba(89,95,109,1) 81%, rgba(95,120,124,1) 98%);
  margin-top: 2.5em;
  margin-bottom: 0;
}

.sidebar,
.header-title,
.work-title {
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.about-par,
.nav-icon {
  font-family: var(--secondary-font);
}

.footer-credit-desk {
  display: none;
}


/* Header */


.header-wrapper {
  background-image: url('/assets/img/laptop.jpg');
  background-size: cover;
  background-position: center;
  height: 30em;
}

.header-title {
  width: 100%;
  margin: 0;
  padding: 5em 0;
  color: white;
  font-family: var(--main-font);
  font-size: 2.5em;
  font-weight: lighter;
}


/* Sidebar */


.sidebar-wrapper {
  box-shadow: inset 0px 1px 40px -9px rgba(71,68,71,1);
  background-color: var(--main-bg-color);
  background-position: center;
}

.sidebar-title {
  color: var(--font-color);
  margin: 0;
  font-family: var(--extra-font);
  font-size: 3em;
  text-transform: uppercase;
  font-weight: lighter;
}


/* Navbar */


.side-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav-icon {
  text-decoration: none;
  color: var(--font-color);
}


/* Social Media */


.social-nav {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.icon-list {
  list-style: none;
}

.fab {
  text-decoration: none;
  color: var(--font-color);
}

.social {
  display: none;
}

/* About */

.about-title {
  font-family: var(--extra-font);
  font-size: 3em;
}

.about-par {
  padding: 0 3em 2em 3em;
  font-size: 1.5em;
}

.btn {
  background: var(--main-bg-color);
  outline: none;
  cursor: pointer;
  border: 7px solid var(--main-bg-color);
  border-radius: .25em;
  padding: 1em 4em;
  font-family: var(--secondary-font);
  font-size: 1.75em;
  color:var(--font-color);
}

.profile-pic {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

@media (min-width: 768px) {

  .profile-pic {
    width: 25%;
    heigth: 25%;
  }
}


/* Portfolio */


.work-header {
  width: auto;
  height: 30em;
  margin-bottom: 5em;
  background-image: url('/assets/img/portfolio-laptop.jpeg');
  background-position: right;
  background-size: cover;
}

.work-title {
  color: var(--font-color);
  font-family: var(--main-font);
  font-size: 4em;
  padding-top: 3em;
}

.gallery-pic {
  width: auto;
  height: 15em;
  margin: 1em .5em;
  box-shadow: 0px 0px 10px 0px rgba(204,204,204,0.7);
}

.img-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

a.sample-site {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.35em;
  color: var(--font-color);
}


/* Form */

.form-title {
	color:  #71ACB4;
	font-family: 'Montserrat', sans-serif;
  text-align: center;
}

label, input {
	color:  #595F6D;
	font-family: 'Raleway', sans-serif;
}

input, textarea {
  width: 100%;
}

input, textarea {
	border: 1px solid grey;
	border-radius: .225em; 
}

.form-box {
  max-width: 30em;
  padding: 3em;
margin: 2em;
}

.form-inputs {
	margin: .75em 0;
}

.btn-primary {
	background: #595F6D;
  outline: none;
	cursor: pointer;
  border: 1px solid #595F6D;
  border-radius: .25em;
  padding: 1em;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  color:  #71ACB4;
}

/* Footer */

.footer {
  background-color: var(--main-bg-color);
  background-position: center;
}

.footer-credit-mobile {
  color: #71ACB4;
  font-size: .75em;
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;
}



/* Media Query */


@media only screen and (min-width: 1024px) {

  .main {
    margin: 0;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    scroll-behavior: smooth;
  }

  .sidebar-wrapper {
    grid-column: 1;
    max-width: 35%;
    height: 100vh;
    position: fixed;
  }

  .header-wrapper,
  .about-wrapper,
  .about,
  .work-portfolio,
  .contact-wrapper,
  hr {
    grid-column: 2;
  }

  .sidebar-title {
    padding: .5em 0;
  }

  .side-nav {
    padding: 0;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
  }

  .nav-list {
    padding: .5em 0;
  }

  .social-nav {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-top: 11em;
    font-size: 1.15em;
    color: var(--font-color);
  }

  .icon-list {
    list-style: none;
  }

  .fab {
    text-decoration: none;
    color: var(--font-color);
  }

  .footer-credit-desk {
    display: block;
    color: var(--font-color);
    font-size: x-small;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
  }

  hr {
    width: 80%;
    margin-top: 6em;
  }

  .btn:hover {
    background: transparent;
  }

  .img-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .gallery-pic:hover {
    transform: scale(1.10);
    transition: 0.5s ease-in-out;
    box-shadow: none;
  }

  .contact-wrapper {
    margin: 2em 15em;
  }

  .footer {
    display: none;
  }

}

@media (min-width: 1440px) {

  .sidebar-wrapper {
    min-width: 33.5%;
  }

}

@media (max-width: 1024px) and (min-width: 768px) {
  .contact-wrapper {
    margin: 2em 5em;
  }
}
