body {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin: 0;
  font-family: 'Neuton', serif;
  text-align: center;
}

.main {
  display: grid;
}

hr {
  position: relative;
  outline: 0;
  border: 0;
  width: 100%;
  height: 4px;
  background: rgba(28, 123, 239, .65);
  margin-top: 40px;
  margin-bottom: 0;
}

.side-nav,
.social-nav {
  color: #dddddd;
}

.sidebar,
.header-title,
.work-title {
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

/* Header */


.header-wrapper {
  background-image: url('https://images.unsplash.com/photo-1536551968841-b3554651a526?ixlib=rb-0.3.5&s=2599812d7c7868825c7cad6c22805cb3&auto=format&fit=crop&w=1650&q=80');
  background-size: cover;
  background-position: center;
  height: 30em;
}

.header-title {
  width: 100%;
  margin: 0;
  padding: 5em 0;
  color: white;
  font-size: 2em;
  font-weight: lighter;
}


/* Sidebar */


.sidebar-wrapper {
  background: linear-gradient(to bottom, #1488cc, #2b32b2);
  box-shadow: inset 0px 1px 40px -9px rgba(71,68,71,1);
}

.sidebar-title {
  color: white;
  margin: 0;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: lighter;
}


/* Navbar */


.side-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav-icon {
  text-decoration: none;
  color: white;
}

/* Social Media */


.social-nav {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.icon-list {
  list-style: none;
}

.fab {
  text-decoration: none;
  color: white;
}

/* About */

.about-par {
  padding: 2em 3em;
}

/* Portfolio */

.work-header {
  width: auto;
  height: 30em;
  margin-bottom: 5em;
  background-image: url('https://images.unsplash.com/photo-1518600654093-2a24cddafa38?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=96238af4ac6e58d17d362d5b8b846eb4&auto=format&fit=crop&w=1717&q=80');
  background-position: center;
  background-size: cover;
}

.work-title {
  /* color: #e5e5e5; */
  color: black;
  font-size: 4em;
  padding-top: 3em;
}

.gallery-pic {
  width: auto;
  height: 15em;
  margin: .5em;
  box-shadow: 0px 0px 10px 0px rgba(204,204,204,0.7);
}

.img-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


/* Form */

.submission-form {  
  max-width: 31.25em;
  margin: 3rem auto;
  padding: 2rem; 
  border-radius: 10px;
  box-shadow: 8px 14px 28px -5px rgba(0,0,0,0.68);
}

label {
  display: block;
  padding: 8px 0 1px;
  font-size: 1.125em;
  font-weight: 300;
}

input, textarea {
  display: block;
  width: 100%;
  border: 1.25px solid grey;
  padding: .25rem;
  border-radius: 25px;
}

.grid-pic {
  background-image: url('https://images.unsplash.com/photo-1502290822284-9538ef1f1291?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a3aa499ed53e860fa8338e6e8cbac1c0&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  display: grid;
  width: auto;
  height: 7.8125em;
  justify-items: center;
  padding: 0;
  font-size: 2em;
  color: white;
}

.send-btn {
  border: 0;
  background: gray;
  padding: 1px;
  color: white;
  margin-top: 1.875em;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}

.send-btn:hover {
  background: dodgerblue;
  transition: .3s background ease;
}













/* Media Query */

@media only screen and (min-width: 1024px) {

  .main {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .sidebar-wrapper {
    grid-column: 1;
    min-width: 25%;
    height: 100vh;
    position: fixed;
  }

  .header-wrapper,
  .about-wrapper,
  .about {
    grid-column: 2;
  }

  .sidebar-title {
    padding: .5em 0;
  }

  .side-nav {
    padding: 0;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
  }

  .nav-list {
    padding: 1em 0;
  }

  .social-nav {
    margin-top: 14em;
    padding: 0;
  }

  hr {
    grid-column: 2;
    width: 80%;
  }

  .work-portfolio {
    grid-column: 2;
  }

  .img-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .gallery-pic:hover {
    transform: scale(1.12);
    transition: 0.5s ease-in-out;
    box-shadow: none;
  }

}
